Source: libax25
Priority: extra
Maintainer: Lee Woldanski <ve7fet@tparc.org>
Build-Depends: debhelper (>= 7), autotools-dev, libc6-dev, zlib1g-dev
Standards-Version: 3.7.3
Section: libs
Homepage: http://linuxax25.googlecode.com 

Package: libax25-dev
Section: libdevel
Architecture: any
Depends: libax25 (= ${binary:Version}), libc6-dev, zlib1g-dev
Replaces: libc6-dev
Description: AX.25 development libraries for building and running Amateur Radio programs 
 AX.25 development libraries and Header files for building and running programs
 that are used for Amateur Radio.

Package: libax25
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AX.25 runtime libraries for running Amateur Radio programs 
 AX.25 runtime libraries for running Amateur Radio programs
