Source: libax25
Priority: optional
Maintainer: Lee Woldanski <ve7fet@tparc.org>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/ve7fet/linuxax25 

Package: libax25-dev
Section: libdevel
Architecture: any 
Depends: libax25 (= ${binary:Version}), ${misc:Depends}, libc6-dev, zlib1g-dev
Replaces: libc6-dev
Breaks: libc6-dev
Description: AX.25 development libraries for building and running Amateur Radio programs 
 AX.25 development libraries and Header files for building and running programs
 that are used for Amateur Radio.

Package: libax25
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.7-1), zlib1g (>= 1:1.1.4)
Description: AX.25 runtime libraries for running Amateur Radio programs 
 AX.25 runtime libraries for running Amateur Radio programs
