#!/usr/bin/make -f
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with autoreconf --with=config-package

# Empty the dependency_libs field in the .la files per Debian Policy.
execute_after_dh_auto_install::
		find debian/tmp/usr/lib/*/ax25  -name "*.la" -exec \
			sed -i -e "s,^dependency_libs=.*,dependency_libs=''," {} +
		
